/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'appetiteregular';
  src: url("../fonts/appetite-webfont.eot");
  src: url("../fonts/appetite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/appetite-webfont.woff") format("woff"), url("../fonts/appetite-webfont.ttf") format("truetype"), url("../fonts/appetite-webfont.svg#appetiteregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'capriolaregular';
  src: url("../fonts/capriola-regular-webfont.eot");
  src: url("../fonts/capriola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/capriola-regular-webfont.woff") format("woff"), url("../fonts/capriola-regular-webfont.ttf") format("truetype"), url("../fonts/capriola-regular-webfont.svg#capriolaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../scss/maynards_view.scss */
body {
  text-align: center;
  font-family: 'appetiteregular';
}

/* line 8, ../scss/maynards_view.scss */
.bgPink {
  background: #de077e;
}

/* line 9, ../scss/maynards_view.scss */
.bgBlue {
  background: #00ade8;
}

/* line 10, ../scss/maynards_view.scss */
.bgWhite {
  background: #feffff;
  background: url("../imgs/whitegrad.jpg") 0 0;
  background-size: 100% 100%;
}

/* line 14, ../scss/maynards_view.scss */
.height700 {
  min-height: 350px;
}

/* line 17, ../scss/maynards_view.scss */
.scaleRow {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
}

/* line 24, ../scss/maynards_view.scss */
.scaleRowFoot {
  position: relative;
  width: 100%;
  padding-bottom: 16.2%;
  height: 0;
}

/* line 31, ../scss/maynards_view.scss */
.innerElement {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  font-size: 3em;
}

/* line 40, ../scss/maynards_view.scss */
.videobox {
  position: absolute;
  width: 57%;
  padding-bottom: 37%;
  left: 50%;
  top: 50%;
  margin-left: -29%;
  margin-top: -18.5%;
  background: url("../imgs/videobox.png");
  background-size: 100% 100%;
  background-position: center;
}

/* line 53, ../scss/maynards_view.scss */
.videoRow {
  background: url("../imgs/video_bg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* line 63, ../scss/maynards_view.scss */
.videoplayer {
  width: 95%;
  height: 91%;
  background: grey;
  position: absolute;
  left: 50%;
  z-index: 2;
  top: 4%;
  margin-left: -47%;
}

/* line 75, ../scss/maynards_view.scss */
#screen1 {
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* line 85, ../scss/maynards_view.scss */
#appdownload {
  background: url("../imgs/bg_app.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* line 95, ../scss/maynards_view.scss */
.statsbox {
  position: absolute;
  width: 60.2%;
  height: 38.7%;
  left: 50%;
  top: 50%;
  margin-left: -30%;
  margin-top: -17%;
}

/* line 107, ../scss/maynards_view.scss */
#logoBox {
  width: 24%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8.5%;
  top: 0px;
  z-index: 2;
}

/* line 118, ../scss/maynards_view.scss */
.logo {
  background: url("../imgs/logo.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 85%;
  height: 30%;
  position: absolute;
  top: 3%;
  left: 10px;
}

/* line 128, ../scss/maynards_view.scss */
.btn_buy {
  background: url("../imgs/btn_buy.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 56.5%;
  height: 7.1%;
  position: absolute;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -28%;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 142, ../scss/maynards_view.scss */
.btn_buy:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 147, ../scss/maynards_view.scss */
.btn_tv {
  width: 36.9%;
  height: 22.5%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 159, ../scss/maynards_view.scss */
.btn_app {
  width: 38%;
  height: 23.7%;
  position: absolute;
  bottom: 3%;
  right: 5%;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 171, ../scss/maynards_view.scss */
.btn_app:hover, .btn_tv:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 176, ../scss/maynards_view.scss */
#footer-download {
  height: 112px;
}

/* line 180, ../scss/maynards_view.scss */
#footer-download .borderWhite {
  margin-top: 14px;
}

/* line 189, ../scss/maynards_view.scss */
.borderWhite {
  border-top: 1px dashed white;
  width: 100%;
  height: 4px;
}

/* line 195, ../scss/maynards_view.scss */
.margT5 {
  margin-top: 5px;
}

/* line 196, ../scss/maynards_view.scss */
.padB20 {
  padding-bottom: 20px;
}

/* line 197, ../scss/maynards_view.scss */
.padB10 {
  padding-bottom: 10px;
}

@media (max-width: 530px) {
  /* line 209, ../scss/maynards_view.scss */
  .arrowL {
    width: 20px;
    height: 30px;
    left: 15px;
    margin-top: -20px;
  }

  /* line 215, ../scss/maynards_view.scss */
  .arrowR {
    width: 20px;
    height: 30px;
    right: 15px;
    margin-top: -20px;
  }
}
