@import "base";

body{
	text-align:center;
	font-family: 'appetiteregular';
}

.bgPink{ background: $pink; }
.bgBlue{ background: $blue; }
.bgWhite{ background: $offwhite; 
	background: url('../imgs/whitegrad.jpg') 0 0; 
	background-size: 100% 100%;
}
.height700{min-height:350px}


.scaleRow{
	position: relative;
	width: 100%;
    padding-bottom: 50%;
    height: 0;
}

.scaleRowFoot{
	position: relative;
	width: 100%;
    padding-bottom: 16.2%;
    height: 0;
}

.innerElement{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        overflow: hidden;
        font-size:3em;
}

.videobox{
    position: absolute;
    width: 57%;
    padding-bottom:37%;
    left: 50%;
    top:50%;
    margin-left:-29%;
    margin-top:-18.5%;
    background: url('../imgs/videobox.png') ; 
	background-size: 100% 100%;
	background-position: center;
}

.videoRow{
	background: url('../imgs/video_bg.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.videoplayer{
	width:95%;
	height:91%;
	background:grey;
	position: absolute;
    left: 50%;
    z-index: 2;
    top: 4%;
	// margin-top:14px;
	margin-left:-47%;
}

#screen1{
	// background: url('../imgs/top_bg1.jpg') 0 0 no-repeat ; 
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

#appdownload{
	background: url('../imgs/bg_app.jpg') 0 0 no-repeat ; 
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.statsbox{
    position: absolute;
    width: 60.2%;
    height: 38.7%;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top:-17%;
    // margin-top: 26px;
}


#logoBox{
	width:24%;
	height:100%;
	 // background:grey;
	position:absolute;
	left:50%;
	margin-left:-8.5%;
	top:0px;
	z-index: 2;
}

.logo{
	background: url('../imgs/logo.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	width:85%;
	height:30%;
	position:absolute;
	top:3%;
	left:10px;
}

.btn_buy{
	background: url('../imgs/btn_buy.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	width:56.5%;
	height:7.1%;
	position:absolute;
	position:absolute;
	top:55%;
	left:50%;
	margin-left:-28%;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.btn_buy:hover{
	@include transform(scale(1.1));
}


.btn_tv{
	// background: url('../imgs/btn_tv.png') 0 0 no-repeat ; 
	// background-size: 100% 100%;
	width:36.9%;
	height:22.5%;
	position:absolute;
	bottom:10%;
	left:5%;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.btn_app{
	// background: url('../imgs/btn_app.png') 0 0 no-repeat ; 
	// background-size: 100% 100%;
	width:38%;
	height:23.7%;
	position:absolute;
	bottom:3%;
	right:5%;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.btn_app:hover, .btn_tv:hover{
	@include transform(scale(1.1));
}


#footer-download{
	height:112px;
}

#footer-download .borderWhite{
	margin-top:14px;
}

#footer-base{
	// min-height:130px

}

.borderWhite{
	border-top: 1px dashed white;
	width:100%;
	height:4px;
}

.margT5{margin-top:5px;}
.padB20{padding-bottom:20px;}
.padB10{padding-bottom:10px;}


@media (max-width: 530px) {

 // 	.scaleRow{
	// 	position: relative;
	// 	width: 100%;
	//     padding-bottom: 75%;
	//     height: 0;
	// }

	.arrowL{
			width:20px;
			height:30px;
			left:15px;
			margin-top: -20px
		}
		.arrowR{
			width:20px;
			height:30px;
			right:15px;
			margin-top: -20px
		}
}