@import "base";

.arrowR{
	width:37px;
	height:58px;
	position: absolute;
	top:50%;
	margin-top:-30px;
	right:30px;
	cursor: pointer;
	z-index: 2;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.arrowL{
	width:37px;
	height:58px;
	position: absolute;
	top:50%;
	margin-top:-30px;
	left:30px;
	cursor: pointer;
	z-index: 2;
	@include transform(rotate(-180deg)  );
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.arrowL:hover{
	@include transform(rotate(-180deg) scale(1.15));
}

.arrowR:hover{
	@include transform(scale(1.15));
}


.a-yellow{
	background: url('../imgs/arrow_yellow.png') 0 0 no-repeat ; 
	background-size:100% 100%;
}

.logoContain{
	bottom:6%;
	position:absolute;
	height:8%;
	width:27%;
	left: 50%;
    margin-left: -12.5%;
    z-index: 2;
    //background:#c3c3c3;
}

.logoContainFoot{
	height:23%;
	bottom:24%;
}

.logo_apple, .logo_google{
	background: url('../imgs/logo-apple-pink.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	background-position: center;
    position: absolute;
	width:47%;
	height:100%;
	float:left;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}
.logo_google{
	background: url('../imgs/logo-google-pink.png') 0 0 no-repeat ; 
	background-size:100% 100%;
	margin-left:50%;
}
.logo_apple:hover, .logo_google:hover{
	@include transform(scale(0.9));
}

.clear{
	clear:both;
	margin:0px;
}

.foot-logos{
	width:41.4%;
	// padding-bottom:19.4%;
	position:absolute;
	left:50%;
	top:20%;
	// background:grey;
	margin-left:-20.5%;
}

.foot-logos li{
	list-style: none;
	float:left;
	cursor: pointer;
	width:23.2%;
	// height:100%;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.foot-logos li:hover{
	@include transform(scale(0.9));
}



.vidShare{
	color:#4b4b4b;
	padding-top:25px;
	width:40%;
	margin:auto;
	position:absolute;
	bottom:4%;
	z-index:2;
	left:50%;
	margin-left:-17%;
}

.vidShare .title{
	float:left;
	font-size:12px;
	line-height:100%;
	margin-right:3px;
	margin-left:21px;

}

.vidShareLogos{

}

.vidShareLogos li{
	list-style:none;
	width:22.5%;
	height:7.1%;
	float:left;
	margin-left:4px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.vidShareLogos li:hover{
	@include transform(scale(0.9));
}