@import "base";

.txtPink{
	color:#fc0095;
	//@include text-shadow(rgba(white, 0) 2px 0px 0, rgba(white, 0) -2px 0px 0, rgba(white, 0) 0px 2px 0);
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.txtTitle{
	font-size: 2.6em;
	padding-top:2.3%;
}

.txtFooter{
	color:#00ade8;
	font-size:1em;
	font-family: 'capriolaregular';
	position: absolute;
	z-index: 2;
	height:40px;
	bottom:10%;
	width:100%;
	text-align:center;
	// background:grey;
}

.txtBlue{
	color:#00ade8;
}

.txtDesc{
	font-family: 'capriolaregular';
	font-size:1em;
	color:white
}

.padT25{padding-top:2%;}

.txt-AppTitle{
	padding-top:12%;
}

.txt-AppDesc{
	padding-top:21.5%;
	font-size:1.5em;
}

.txt-AppLegal{
	padding-top:1.5%;
	font-size:1em;
	line-height:1.1em;
	font-family: 'capriolaregular';
}



@media (max-width: 530px) {

	.txtTitle{	font-size: 1.6em; }

}

